<div class={{clase}}>
    <div class="content-convencion">
        <div class="text-content-top">
            <h1 class="title-convencion">{{titulo}}</h1>
            <h2>{{subtitulo}}</h2>
            <div *ngIf="detalle" class="single-info">
                <h3>Convención: <a [routerLink]="getRutaConvencion(convencion)"
                    routerLinkActive="active">{{convencion}}</a></h3>
                <h3>Tipo: <a [routerLink]="getRutaCategoria(categoria)"
                    routerLinkActive="active">{{categoria}}</a></h3>
            </div>
        </div>
        <div class="block-covers">
            <div data-aos="fade-up" data-aos-duration="1000" class="cover">
                <div class="image-cover">
                    <a href="assets/files/general.pdf" target="_blank"><img [src]=imagenUrl [alt]=imagenUrl></a>
                </div>
                <div class="info-cover">
                    <div class="links">
                        <ul>
                            <li><a href="assets/files/general.pdf" target="_blank"><img [src]=descargarSrc
                                        [alt]=descargarAlt></a></li>
                            <li><a href=""><img [src]=compartirSrc [alt]=compartirAlt></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-info-page">
    <p>{{descripcion}}</p>
</div>