<div class={{clase}}>
    <div class="content-convencion">
        <div class="text-content-top">
            <h1 class="title-convencion">{{titulo}}</h1>
            <h1 class="title">{{subtitulo}}</h1>
        </div>
        <div class="block-covers">
            <div class="cover">
                <div class="image-cover">
                    <a href=""><img [src]=imagenUrl [alt]=imagenUrl></a>
                </div>
                <div class="info-cover">
                    <div class="links">
                        <ul>
                            <li><a href=""><img [src]=descargarSrc [alt]=descargarAlt></a></li>
                            <li><a href=""><img [src]=compartirSrc [alt]=compartirAlt></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-info-page">
    <p>{{descripcion}}</p>
</div>