<footer id="footer" role="contentinfo">
    <div class="site-title">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" title="home" rel="home"><img class="logo" [src]=logoSrc [alt]=logoAlt /></a>
    </div>
    <div class="footer-content">
        <div class="column-footer">
            <h2>Título</h2>
            <ul>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
            </ul>
        </div>
        <div class="column-footer">
            <h2>Título</h2>
            <ul>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
            </ul>
        </div>
        <div class="column-footer">
            <h2>Título</h2>
            <ul>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
            </ul>
        </div>
    </div>
</footer>