<footer id="footer" role="contentinfo">
    <div class="site-title">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" title="home"
            rel="home"><img class="logo" [src]=logoSrc [alt]=logoAlt /></a>
    </div>
    <div class="footer-content">
        <div class="column-footer">
            <h2>Edificio Sede</h2>
            <ul>
                <li>Insurgentes Sur 2417<br>
                    San Ángel. Álvaro Obregón<br>
                    C.P. 01000, Ciudad de México</li>
                <li><a href="">+52 (55) 5490-8000</a></li>
                <li><a href="">Mapa del Sitio</a></li>
            </ul>
        </div>
        <div class="column-footer">
            <h2>Vínculos</h2>
            <ul>
                <li><a href="">Suprema Corte de Justicia de la Nación</a></li>
                <li><a href="">Tribunal Electoral del PJF</a></li>
                <li><a href="">Fondo de Apoyo a la Administración de Justicia</a></li>
                <li><a href="">Comisión Substanciadora Única del Poder Judicial de la Federación</a></li>
                <li><a href="">Informe Anual de Labores</a></li>
                <li><a href="">Sistema de Solicitudes de Información</a></li>
            </ul>
        </div>
        <div class="column-footer">
            <h2>Más información</h2>
            <ul>
                <li><a routerLink="/creditos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Créditos</a></li>
            </ul>
        </div>
    </div>
</footer>