<div class="block-top-content convencion">
    <div class="content-convencion">
        <div class="text-content-top">
            <h1 class="title-convencion">Creditos</h1>
        </div>
    </div>
</div>
<div class="block-info-page creditos">
    <div class="column-page">
        Diego Aguirre<br>
        Coordinación general y dirección de arte.<br><br>
        María Álvarez<br>
        Coordinación editorial, edición y estrategia de comunicación.<br><br>
        Mónica Nepote<br>
        Edición y corrección.<br><br>
        Ana Larco<br>
        Diseño y producción.<br><br>
        Israel M. López<br>
        Edición y corrección de estilo.<br><br>
        Investigación jurídica<br>
        Redacción de cuadernos BDP y CEDAW. Lelia Jiménez<br><br>
        Yuli Pliego<br>
        María Luisa Saucedo López<br>
        Alberto Muñoz López<br>
    </div>
    <div class="column-page">
        Ilustraciones.<br>
        Vera Primavera<br><br>
        Podcasts.<br>
        Investigación: María Álvarez, Israel López Guiones: Sebastián Quiróz<br>
        Locución: Pamela Carmona Arellano Producción: Ana Larco, María Álvarez <br><br>
        Edición y diseño sonoro:<br> Gerardo Martínez GMArt studio<br><br>
        Estudio de grabación:<br>estudio-tuna.com<br><br>
        Voces empáticas:<br>Mónica Nepote María Álvarez<br><br>
        Voces expertas:<br>Alexandra Haas Alma Beltrán y Puga Yuli Pliego
    </div>
    <div class="column-page">
        Infografías<br>
        Investigación y redacción: Mariana Niembro Diseño: Ana Larco<br><br>
        Serigrafías<br>
        Karen Ximena Carrillos Silva<br><br>
        Animaciones<br>
        Juan Bayas<br><br>
        Página web<br>
        Programación: Antonio Salinas y Luis Silva
    </div>
</div>