<div class="block-top-content home">
    <div class="text-content-top">
        <h1 class="title">Convenciones comentadas para juzgar con perspectiva de género</h1>
        <h2 class="subtitle">Belém do Pará</h2>
        <h2 class="subtitle">CEDAW</h2>
    </div>
    <div class="block-covers">
        <div class="cover">
            <div class="image-cover">
                <a routerLink="belem" routerLinkActive="active"><img [src]=portadaBelemSrc [alt]=portadaBelemAlt></a>
            </div>
            <div class="info-cover">
                <div class="links">
                    <ul>
                        <li><a href=""><img [src]=descargarSrc [alt]=descargarAlt></a></li>
                        <li><a href=""><img [src]=compartirSrc [alt]=compartirAlt></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cover">
            <div class="image-cover">
                <a routerLink="cedaw" routerLinkActive="active"><img [src]=portadaCedawSrc [alt]=portadaCedawAlt></a>
            </div>
            <div class="info-cover">
                <div class="links">
                    <ul>
                        <li><a href=""><img [src]=descargarSrc [alt]=descargarAlt></a></li>
                        <li><a href=""><img [src]=compartirSrc [alt]=compartirAlt></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-info-page">
    <p>Las convenciones cedaw (1979) y Belém do Pará (1994) en su origen procuraron estrategias para
        visibilizar y erradicar la violencia contra las mujeres en diversos países del mundo; ambas
        convenciones establecieron estatutos y acuerdos legales a los que se suscribieron numerosas
        naciones, México entre estas, para luchar por la igualdad en materia de derechos humanos. </p>
</div>
<div *ngFor="let seccion of secciones">
    <app-mostrar-materiales [titulo]=seccion.titulo [tipo]=seccion.tipo [color]=seccion.color
        [noElementos]=seccion.noElementos [boton]=seccion.boton [convencion]=convencion [detalle]=seccion.detalle>
    </app-mostrar-materiales>
</div>